body {
  background-color: #e5aad2;
}

h1 {
  color: #b847f6;
  font-size: 48px;
  padding: 10px;
  text-align: center;
}

header {
  font-size: 86px;
  color: white;
  text-align: center;
}

h2 {
  padding: 10px;
}

.timer {
  color: beige;
  font-size: 50px;
  text-align: center;
  font-weight: 100px;
  border: 3px solid white;
  border-radius: 6px;
  background-color: goldenrod;
}

.date {
  color: white;
  font-size: 24px;
  margin: 10px;
  text-align: center;
}

img {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 100px;
}

a {
  text-align: center;
}

.navbar-brand {
  color: #ffffff;
}

.navbar {
  color: white;
  background-color: #dcab4e;
  margin-top: 4px;
  border-radius: 4px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
  background-color: #b640f5;
  cursor: pointer;
  margin: 4px;
  border-radius: 5px;
  transition: 0ms;
}

.btn {
  color: white;
  background-color: #043a22;
  border: 1px solid white;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  color: white;
  background-color: #b640f5;
}

iframe {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 152px;
  width: 80%;
}
